/*
 * Created by: Jack Mennie
 * Description: contains all the main components of the Newcastle Connections page
*/

html {
    height: 100vh;
}

body {
    background-image: url("../image/bg.gif");
    height: 100vh;
}

.downButton {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: fixed;
    left: 50%;
    bottom: 20px;
    z-index: 100000;
}

.upButton {
    font-size: 16px;
    font-weight: bold;
    color: white;
    position: fixed;
    left: 50%;
    top: 20px;
    z-index: 10000000;
}

#downButton {
    width: 50px;
    height: 50px;
    background-color:rgba(100,100,100,0.8);
    border: 0;
    border-radius: 10px;
}

#upButton {
    width: 50px;
    height: 50px;
    background-color:rgba(100,100,100,0.8);
    border: 0;
    border-radius: 10px;
}
/************** Slide Show *********/

.imgslide {
    display:none
}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

/*Resize bootstraps navbar */
.navbar-brand,
.navbar-nav li a {
    line-height: 75px;
    height: 75px;
}

.navbar button {
    margin-top: 32px;
}

.navbar {
    padding-right: 100px;
    padding-left: 100px;
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    .header { display: none; } 
    .navbar {
        padding: 0;
    }   
    .navbar-nav li a,
    .navbar button {
        margin-left: 5px;
        height: 40px;
        line-height: 40px;
    }
}


/* ---------------------Header------------------------- */
.header {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 40px;
}

.headerNavigation ul {
    list-style-type: none;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.headerNavigation li {
    max-width: 150px;
    display: inline-block;
    margin: 0;
    margin-right: -4px;
    padding: 0;
    
}

.headerNavigation li a {
    margin: 0;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-bottom: solid lightgray 5px;
    font-size: 12pt;
}

.headerNavigation li a:hover {
    background-color: rgba(180,30,51,0.1);
    color: rgba(180,30,51,1);
    border-bottom: solid rgba(180,30,51,1) 5px;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}

/*--------------- Calendar ---------------------------*/
.calendar.sticky {
    position: fixed;
    top: 100px;
}

.calendar {
    text-align: center;
    color: white;
    margin-top: 100px;
    padding: 2%;
    padding-top: 2px;
    
    background-color: rgba(0,107,171,1);
    width: 100%;
    border-radius: 10px;
}
.calendar table {
    
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    width: 100%;
    font-size: 10pt;
    cursor: pointer;
    border-top:solid rgba(0,107,171,0.7);
    border-radius: 10px;
}
.calendar .cTop {
    background-color:rgba(0,107,171,1);
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 14pt;
    border-bottom: 5px solid rgba(0,7,71,0.3);
}



.calendar .lBCell {
    border-bottom-left-radius: 10px;
}

.calendar .rBCell {
    border-bottom-right-radius:  10px;
}


.calendar table th {
    text-align: center;
    background-color: rgba(0,107,171,0.7);
    padding: 3%;
    color: white;
    cursor: default;
}
.calendar table td {
    color: black;
    text-align: center;
    padding: 3%;
    border: solid rgba(200,200,200,0.1);
    background-color:white;
}

.calendar table td:hover {
    color:rgba(180,30,51,1);
    background-color:rgba(180,30,51,0.1);
}

/*-----------------------------------------------------*/

p {
    font-size: 16px;
    padding-left: 40px;
    padding-right: 100px;
}

/* temp */
.container {
    padding-top: 100px;
    background-color: rgba(255,255,255,0.9);
}

.container-fluid {
    padding: 0;
    margin: 0;
}

.col-md-4 {
    background-color: rgba(0,107,171,0.2);
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: -100px;
    height: 100vh;
}

 .col-md-8 {
    
 }