<section class="panelHalf">
    <div class="row">
        <h1>Events happening in Newcastle</h1>
    </div>
    <div class="row">
        <div class="col-md-4" style="width:90%; border: 2px solid grey;background-color: rgba(220,224,249,0.75); padding: 10px; border-radius: 10px">
            <p><b>June</b></p>
            - event 1<br>
            - event 2<br><br>
            <p><b>July</b></p>
            - event 3<br>
            - event 4<br>
            - event 5<br><br>
            <p><b>August</b></p>
            - event 6<br>
            - event 7<br><br>
            <p><b>November</b></p>
            - event 8
        </div>
        <div class="col-md-8">
            <div class="calendar">
                <table>
                    <tr class="cTop">
                        <td class="cTop lCell"><</td>
                        <td colspan="5" class="cTop cMonth">May</td>
                        <td class="cTop rCell">></td>
                    </tr>
                    <tr>
                        <th>S</th>
                        <th>M</th>
                        <th>T</th>
                        <th>W</th>
                        <th>Th</th>
                        <th>F</th>
                        <th>S</th>
                    </tr>
                    <tr>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td>1</td>
                        <td>2</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                    </tr>
                    <tr>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                    </tr>
                    <tr>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                    </tr>
                    <tr>
                        <td class="lBCell">31</td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td class="rBCell">6</td>
                    </tr>
                </table>
                <!-- -->
            </div>
        </div>
    </div><!-- row -->
</section><!-- container -->