<div class="container">
    <h1>Admin Panel</h1>
    <h2>Create new accommodation item</h2>
    <form (ngSubmit)="onSubmit()">
        <!-- The accommodationID will automatically be generated. -->
        <!-- Name: <input type="text" name="accName"> -->

        {{diagnostic}}

        <div class="form-group">
            <label for="accommodationID">Accommodation ID</label>
            <input type="text" class="form-control" id="accommodationID"
            required
            [(ngModel)]="model.accommodationID" name="accommodationID">
            <!-- #accommodationID="ngModel"> -->
            <div [hidden]="accommodationID.valid || accommodationID.pristine"
            class="alert alert-danger">
                Accommodation ID is required
            </div>
        </div>

        <!-- <br> -->
        <!-- Address: <input type="text" name="accAddress"> -->

        <div class="form-group">
            <label for="accommodationAddress">Address</label>
            <input type="text" class="form-control" id="accommodationAddress"
            required
            [(ngModel)]="model.accommodationAddress" name="accommodationAddress">
            <!-- #accommodationID="ngModel"> -->
            <div [hidden]="accommodationAddress.valid || accommodationAddress.pristine"
            class="alert alert-danger">
                Accommodation ID is required
            </div>
        </div>

        <br>
        <!--
            We shouldn't make the user have to retype the suburb.
            I think it would be better to store the address in the database as:
                *Adress number
                *Street name
                *Suburb
                *City
                *Postcode
        -->
        Suburb: <input type="suburb" name="accSuburb">
        <br>
        Accommodation Star Rating:
        <ul>
            <!-- We give accommodation which hasn't been assigned a star rating a value of "0": -->
            <li><input type="radio" name="starRating" value="0" checked> N.A.</li>
            <li><input type="radio" name="starRating" value="1">1</li>
            <li><input type="radio" name="starRating" value="2">2</li>
            <li><input type="radio" name="starRating" value="3">3</li>
            <li><input type="radio" name="starRating" value="4">4</li>
            <li><input type="radio" name="starRating" value="5">5</li>
        </ul>
        <!-- The accommodationUserRating will be calculated by the system. -->
        Number of beds in room: <input type="number" name="accBeds">
        <br>
        Number of people for room: <input type="number" name="accPeople">
        <br>
        Price per night: <input type="number" name="accPricePerNight">
        <br>
        <!-- Whether or not this accommodation item is a "bestSeller" will be calculated by the system. -->
        Accommodation type:
        <ul>
            <li><input type="radio" name="accType" value="hotel" checked>Hotel</li>
            <li><input type="radio" name="accType" value="bedAndBreakfast">Bed & Breakfast</li>
            <li><input type="radio" name="accType" value="hostel">Hostel</li>
            <li><input type="radio" name="accType" value="lodge">Lodge</li>
            <li><input type="radio" name="accType" value="privtaeHome">Private Home</li>
            <li><input type="radio" name="accType" value="resort">Resort</li>
            <li><input type="radio" name="accType" value="motel">Motel</li>
        </ul>
        <!-- The pictureURL will have to be generated by the system later on, once we get file uploading working. -->
        Website URL: <input type="url" name="accURL">
        <br>
        Phone number: <input type="text" name="accPhoneNo">
        <br><input type="submit" name="submit" value="Submit"><input type="reset" name="reset" value="Reset">
    </form>
    <br>
    <br>
    <button (click)="setNavOption(0)">Cancel accommodation creation</button>
</div>