<navigationtop></navigationtop>
<div class="container view">
    <h1>Food and Drinks</h1>


    <!-- ===========================================
            FOOD AND DRINKS VIEW

    ============================================-->
    <ng-container *ngIf="checkLoad()">
        <div *ngFor="let f of foodAndDrinks" class="row item-container"><!-- restaurant item -->
            <food-and-drinks [foodAndDrinks]="f" [view]="view" [pItem]="false"></food-and-drinks>
        </div>
    </ng-container>

    <div *ngIf="!checkLoad()" style="width: 100%; text-align: center">
            <h3>Please wait while food and drink loads...</h3>
            
            <img src="assets/loading.svg" width="50px" height="50px"/>
        </div>
</div>