<section id="navigation" class="container" style="background-color:rgba(255,255,255,0.85);height:100vh; padding-top: 100pt">
    <header class="header">
        <img src="res/image/logo.png" height="100px" alt="logo"/>
        <div class="headerNavigation">
            <ul>
                <li>
                    <a href="#navigation">Home</a>
                </li>
                <!-- -->
                <li>
                    <a href="#packages">Packages</a>
                </li>
                <!-- -->
                <li>
                    <a href="#activities">Activities</a>
                </li>
                <!-- -->
                <li>
                    <a href="#events">Events</a>
                </li>
                <!-- -->
                <li>
                    <a href="#about">About Newcastle</a>
                </li>
            </ul>
        </div>
    </header>
    <hr style="border-top: 1px solid black;">
    <div class="customPackageCreationHome">
        <md2-datepicker 
            type="date"
            required="true"
            mode="portrait"
            placeholder="Check-in date"
            tabindex="1"
            openOnFocus="true"
            container="dialog"
            [(ngModel)]="startDate">
        </md2-datepicker>
        <md2-datepicker 
            type="date"
            required="true"
            mode="portrait"
            placeholder="Check-out date"
            tabindex="1"
            openOnFocus="true"
            container="dialog"
            [(ngModel)]="endDate">
        </md2-datepicker>

        <div class="customIncreasers">
            <button type="button" md-mini-fab color="accent" (click)="decreaseGuests()">-</button>
            <div class="text">
                Guests: {{guests}}
            </div>
            <button type="button" md-mini-fab color="accent" (click)='increaseGuests()' style="margin-left: -10px">+</button>
        </div>

        <div class="customIncreasers">
            <button type="button" md-mini-fab color="accent" (click)="decreaseGuests()">-</button>
            <div class="text">
                Rooms: {{rooms}}
            </div>
            <button type="button" md-mini-fab color="accent" (click)='increaseGuests()' style="margin-left: -10px">+</button>
        </div>
        <br>
        <button type="button" md-raised-button color="warn" (click)="submitForm">Create!</button>
    </div> 
</section>