<section id="navigation" class="container" style="background-color:rgba(255,255,255,0.85);height:100vh; padding-top: 100pt">
    <header class="header">
        <img src="res/image/logo.png" height="100px" alt="logo"/>
        <div class="headerNavigation">
            <ul>
                <li>
                    <a href="#navigation">Home</a>
                </li>
                <!-- -->
                <li>
                    <a href="#packages">Packages</a>
                </li>
                <!-- -->
                <li>
                    <a href="#activities">Activities</a>
                </li>
                <!-- -->
                <li>
                    <a href="#events">Events</a>
                </li>
                <!-- -->
                <li>
                    <a href="#about">About Newcastle</a>
                </li>
            </ul>
        </div>
    </header> 
</section>