<div class="container">
    <h1>Details</h1>
    Name: {{accommodation.accommodationName}}
    Star Rating: {{accommodation.accommodationStarRating}}
    User Rating: {{accommodation.accommodationUserRating}}
    
    Price: {{accommodation.pricePerNight}}

    accommodation type: {{accommodation.accommodationType}}

    address: {{accommodation.accommodationAddress}}
    Suburb: {{accommodation.accommodationSuburb}}
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map [zoom]="18" [latitude]="lat" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
</div>