<!-- Accommodation list view
    parent component to the accommodation component

-->
<navigationtop></navigationtop>
<div class="container view">
    <h1>Accommodation page:</h1> 
     <!-- ===========================================
            ACCOMMODATION VIEW

    ============================================-->
    <ng-container *ngIf="checkLoad()">
        <div  *ngFor="let accommodation of accommodationList" class="row item-container"><!-- accommodation i --> 
            <accommodation [accommodation]="accommodation" [view]="view"></accommodation>
        </div>
    </ng-container>

    
    <div *ngIf="!checkLoad()" style="width: 100%; text-align: center">
        <h3>Please wait while accommodation loads...</h3>
        
        <img src="assets/loading.svg" width="50px" height="50px"/>
    </div>
</div>