<div class="container-fluid">
    <div class="view-item-header">
        {{accommodation.accommodationName}}
        <span *ngFor="let star of accommodation.accommodationStars" class="text-smd glyphicon glyphicon-star"></span>
        
        <ul class="nav nav-tabs" 
            style=
                "   font-size: 12pt; 
                    margin-bottom: 0;
                    border: 0;
                "><!-- Nav bar -->
            <li role="presentation" *ngIf="selected==1; else notActive1" class="active">
                <a (click)="setNavigation(1)">Details</a>
            </li>
            <ng-template #notActive1>
                <li role="presentation"><a (click)="setNavigation(1)">Details</a></li>
            </ng-template>
    
            <li role="presentation" *ngIf="selected==2; else notActive2" class="active">
                <a (click)="setNavigation(2)">Room Details</a>
            </li>
            <ng-template #notActive2>
                <li role="presentation"><a (click)="setNavigation(2)">Room Details</a></li>
            </ng-template>
        </ul>
    </div>

    <div class="view-item-content-main" *ngIf="selected==1">
        <div class="view-item-pictures" id="view-item-pictures">
                
        </div>

        <h1>Details</h1>
        Name: {{accommodation.accommodationName}}
        Star Rating: {{accommodation.accommodationStarRating}}
        User Rating: {{accommodation.accommodationUserRating}}
        
        Price: {{accommodation.pricePerNight}}
    
        accommodation type: {{accommodation.accommodationType}}
    
        address: {{accommodation.accommodationAddress}}
        Suburb: {{accommodation.accommodationSuburb}}
        <!-- this creates a google map on the page with the given lat/lng from -->
        <!-- the component as the initial center of the map: -->
        <agm-map [zoom]="18" [latitude]="lat" [longitude]="lng">
        <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    
    

    
</div>