<h1>Admin Panel</h1>
<h2>Create New:</h2>
<ul>
    <li><button (click)="setNavOption(1)">Accommodation</button></li>
    <li><button (click)="setNavOption(6)">Accommodation feature</button></li>
    <li><button (click)="setNavOption(2)">Package</button></li>
    <li><button (click)="setNavOption(3)">Activity</button></li>
    <li><button (click)="setNavOption(4)">Event</button></li>
    <li><button (click)="setNavOption(5)">Food/drink establishment</button></li>
</ul>

<button (click)="setNavOption(0)">Back to home</button>