/* home.component.html */
.home-view {
    width: 100%;
    height: 100%;
    
    background-color: #333333;
    z-index: 1000;

    display: table;
    margin: 0 auto;

    background-image: url("../../../assets/image/home-4.jpg");
    background-size: 100% 100%;
}

.home-centre-form {
    height: 100%;
    display: table-cell;   
    vertical-align: middle;
}

.home-creation-form {
    height: auto;
    width: 50%;
    
    margin: auto;

    padding: 20px;
    padding-top: 0;
    background-color: rgba(50,50,55,0.9); 
    /* background-color: white; */
    /* border: 4px solid rgba(30,27,27,1);  */
    color: white;
    border-radius: 10px;
}

#buttons-mobile {
    display: none;
}

#home-form-top {
    background-color: #A6DAFC;
    margin: 0;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;

    padding: 18px;
    text-transform: uppercase; 
    
    font-family: ‘Lucida Grande’, ‘Lucida Sans Unicode’, Lucida, Verdana, Helvetica, Arial, sans-serif;
    color: rgba(30,27,27,1);
    font-size: 24px;
    /* font-weight: bold; */


    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 2px solid rgba(30,27,27,1);
}

#home-guests {
    background-color: rgba(255,255,255, 0.1);
    border-radius: 20px;
    border-left: 1px solid rgba(130,127,127,1);
    border-bottom: 1px solid rgba(130,127,127,1);
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.removePadding {
    margin: 0;
    padding: 0;
}

.grInput {
    width: 100%;
}
.mat-tooltip {
    font-size:14px !important;
    background-color: grey !important;
    color: black !important;
    font-weight: normal !important;
}

.mat-input-placeholder {
    color: white !important;
    font-size: 20px !important;
}

.mat-input-underline {
    background-color: grey !important;
}

.mat-input-ripple {
    background-color: #A6DAFC !important;
}

.mat-slider-track-fill {
    background-color: rgb(249,255,151) !important;
}

.mat-slider-thumb-label {
    background-color: rgb(249,255,151) !important;
}
/* End overrides  */
.home-seperator-vertical {
    margin-top: -10px;
    margin-bottom: -20px;
    height: 80px;
    text-align: center;
}

.home-seperator {
    margin: 20px;
    padding: 0;
    margin-left: -20px;
    margin-right: -20px;

    border-top: 1px solid rgba(130,127,127,1);
    height: 1px;
}

.home-seperator-horizontal {
    display: none;
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.home-seperator-horizontal-line {
    border-top: 1px solid rgba(130,127,127,1);
    
    margin: 0;
    margin-left: -10px;
    margin-right: -10px;
    padding: 0;
    height: 1px;
}

.home-increasers {
    color: grey;
}

.home-increasers:hover {
    color: white;
}

#home-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    font-weight: bold;
    font-family: ‘Lucida Grande’, ‘Lucida Sans Unicode’, Lucida, Verdana, Helvetica, Arial, sans-serif;
    color: rgba(30,27,27,1);
    text-shadow: 1px 1px 10px white;
    font-size: 24pt;
}

#home-login-button {
    position: fixed;
    font-size: 16pt;
    top: 20px;
    right: 20px;
}

.selection {
    background-color: rgba(120,120,125,1) !important;
    color: rgba(30,27,27,1) !important;
    padding: 10px !important;
} 

.btnpicker {
    background-color: rgba(120,120,125,1) !important;
    color: rgba(30,27,27,1) !important;
}

/* end home.component.html */