<h1>Admin Panel</h1>
<h2>Create new accommodation feature item</h2>
<p style="color:red; font-size:150%">
    Later on, I think we should bring up a list of all accommodation items on this page, so the data entry clerk doesn't have to copy+paste the unique accommodationID.
</p>
<form>
    Accommodation ID: <input type="text" name="accFeatID">
    <br>
    Feature: <input type="text" name="accFeatFeature">
    <br><input type="submit" name="submit" value="Submit"><input type="reset" name="reset" value="Reset">
</form>
<br>
<br>
<button (click)="setNavOption(0)">Cancel accommodation feature creation</button>