<!--<button (click)="loginDialog()">Login for ng2</button>
<button (click)="loginDialog2()">Login for modal</button>


<popup>
  <form>
    <label for="username">Username</label>
    <input type="text" id="username" />
    <br />
    <label for="password">Password</label>
    <input type="password" id="password" />
  </form>
-->

<!-- Top Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="margin-top: 0;"><img src="res/image/logo.png" alt="Brand" height="100%"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                
                
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-default" (click)="loginDialog()">Login</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" (click)="signupDialog()">Sign up</button></li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <popup style="padding:0; margin: 0; background-color: aqua">
          <form>
            <label for="username">Username</label>
            <input type="text" id="username" />
            <br />
            <label for="password">Password</label>
            <input type="password" id="password" />
          </form>
        </popup>

        <!-- slide button -->
       <!-- http://jsfiddle.net/yxpc9qr9/ -->
       
       

        <!-- Container -->
        
        <section id="navigation" class="container" style="height:100vh; padding-top:100pt">
            <header class="header">
                <img src="res/image/logo.png" height="100px" alt="logo"/>
                <div class="headerNavigation">
                    <ul>
                        <li>
                            <a href="#navigation">Home</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="#packages">Packages</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="#activities">Activities</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="#events">Events</a>
                        </li>
                        <!-- -->
                        <li>
                            <a href="#about">About Newcastle</a>
                        </li>
                    </ul>
                </div>
            </header> 
        </section><!-- container -->

        <section id="about" class="container-fluid" style="background-color: #333333;color:white; padding: 100px; height: 100vh">
            <h1>About Newcastle</h1>
                    <p>
                        Newcastle, Australia's seventh largest city, is only 160kms north of Sydney. It is located in the heart of the Hunter Region and is bordered by a stunning coastline with beautiful beaches.

All within an hour's drive, Newcastle is ideally located to access amazing beaches in Newcastle and Port Stephens; world-class wineries in the Hunter Valley; a world-heritage listed rainforest, Barrington Tops; Australia's largest salt water lake, Lake Macquarie; and some of the world's most famous horse studs in the Upper Hunter.

Easily accessible by air with several flights departing daily, rail, boat, interstate and local coach services. The City offers a range of local public transport services, as well as world class cycle ways and walking tracks.

Newcastle's proximity to Sydney and surrounds makes it an easy getaway for a weekend or longer stay.
                    </p>
        </section>
<!--
        <div class="container-fluid">
                <img class="imgslide" src="res/image/home-4.jpg" style="width:100%">
                <img class="imgslide" src="res/image/home-3.jpg" style="width:100%">
                <img class="imgslide" src="res/image/home-2.jpg" style="width:100%">
                <img class="imgslide" src="res/image/home-1.jpg" style="width:100%">

                <!-- code used from https://www.w3schools.com/w3css/w3css_slideshow.asp 
                <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                    <div class="w3-left w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                    <div class="w3-right w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(1)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(2)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(3)"></span>
                    <span class="w3-badge demo w3-border w3-transparent w3-hover-white" onclick="currentDiv(4)"></span>
                </div>
                <!-- end code 
        </div>-->
        <section id="events" class="container" style="min-height: 1000px; padding-top:100pt">
            <div class="row">
                <div class="col-md-8">
                    test
                </div><!-- content-->

                <!-- ++++++++++++++ RIGHT COL +++++++++++++++ 
                +
                +
                +
                +++++++++++++++++++++++++++++++++++++++++++++
                -->

                <div class="col-md-4">
                    <div class="calendar">
                        <h3>Newcastle Events</h3>
                        <table>
                            <tr class="cTop">
                                <td class="cTop lCell"><</td>
                                <td colspan="5" class="cTop cMonth">May</td>
                                <td class="cTop rCell">></td>
                            </tr>
                            <tr>
                                <th>S</th>
                                <th>M</th>
                                <th>T</th>
                                <th>W</th>
                                <th>Th</th>
                                <th>F</th>
                                <th>S</th>
                            </tr>
                            <tr>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                                <td>1</td>
                                <td>2</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>11</td>
                                <td>12</td>
                                <td>13</td>
                                <td>14</td>
                                <td>15</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>17</td>
                                <td>18</td>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td>23</td>
                            </tr>
                            <tr>
                                <td>24</td>
                                <td>25</td>
                                <td>26</td>
                                <td>27</td>
                                <td>28</td>
                                <td>29</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td class="lBCell">31</td>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                                <td class="rBCell">6</td>
                            </tr>
                        </table>
                        <!-- -->
                    </div>
                </div><!-- right col -->
            </div><!-- row -->
        </section><!-- container -->