@media screen and (min-width: 0px) and (max-width: 600px) {
    .panelHalf {
        margin: 0;
        padding: 0;
        padding-top: 100px;
        
        height: auto;
        background-color: rgba(255,255,255,0.8);
    }

    .customPackageCreationHome {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        padding: 5px;
    }

    md-sidenav {
        width: 15%;
    }

    .customPackageCreationForm {
        height: auto;
        background-color: rgba(50,50,55,0.9);
        border: 4px solid rgba(30,27,27,1);
        color: white;
        border-radius: 10px;
    }

    #home-title {
        font-size: 14px;
    }
}

@media screen and (min-width: 0px) and (max-width: 1420px) {
    .hideRecommendations {
        display: none;
    } 

    .s-view {
        height: 70vh;
    }

    .s-view-a { /* accomodation scaling */
        height: 100%;
    } 

    .s-view-f {
        margin-left: 10%;
        width: 90%;
    } 

    .m-form-extend {
        width: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 990px) {
     .hotelAdvert {
        display:none;
    }

    .item-rating {
        background-color: transparent;
        border-radius: 0px;
    }

    .text-hide {
        display: none;
    }
}