<section id="packages" class="container-fluid panel">
    <h1>Packages</h1>
    <p>Select a category to begin.</p>
    
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <div class="thumbnail">
                    <a routerLink="/products/thrill">
                        <div id="thrillImg"></div>
                        <div class="caption">
                            <p>For those who seek a bit of adventure in their life.</p>
                        </div>
                    </a>
                </div>
            </div><!-- col 1-->

            <div class="col-md-6">
                <div class="thumbnail">
                    <a routerLink="/products/relax">
                        <div id="relaxImg"></div>
                        <div class="caption">
                            <p>Packages for those who want a chilled time.</p>
                        </div>
                    </a>
                </div>
            </div><!-- col 2-->

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#">
                        <div id="shoppingImg"></div>
                        <div class="caption">
                            <p>Packages for those who want to shop.</p>
                        </div>
                    </a>
                </div>
            </div><!-- col 3-->

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#">
                        <div id="wineImg"></div>
                        <div class="caption">
                            <p>Packages for those who want to experience Newcastle wineries.</p>
                        </div>
                    </a>
                </div>
            </div><!-- col 4-->

            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="#">
                        <div id="beachImg"></div>
                        <div class="caption">
                            <p>For those who want to spend time in the water</p>
                        </div>
                    </a>
                </div>
            </div><!-- col 5-->
        </div>
    </div><!-- row -->
</section>