<ng2-slim-loading-bar [height]="'4px'" style="position:fixed"></ng2-slim-loading-bar><!-- loading bar which gets activated when loading of data from the database -->
<navigationtop></navigationtop>
<div class="container-fluid"><!-- Main View Container -->
    <!-- <div class="row" style="margin-left: 200px;">
        <div class="col-md-2 offset-md-4">
            <h1>Image testing</h1>
            <div *ngFor="let image of imageList" class="row">
                testing
                <img src="data:image/png;base64,{{image.base64Equiv}}" alt="photo not found" />
            </div>
        </div>
    </div> -->

    <!-- Content -->
    <div class="row">
        <div class="col-md-10">
            <!-- Filter -->
            <div class="row" id="sort" *ngIf="selected > 1">
                <button md-raised-button [mdMenuTriggerFor]="sort">Sort: {{sortValue}}</button>
                <md-menu #sort="mdMenu">
                    <button md-menu-item (click)="changeSort('Recommendation')">Recommendation</button>
                    <button md-menu-item (click)="changeSort('Distance')">Distance from CBD</button>
                    <button md-menu-item (click)="changeSort('Name')">Name</button>
                    <button md-menu-item (click)="changeSort('Rating')">Rating</button>
                    <button md-menu-item (click)="changeSort('Price')">Price</button>
                </md-menu>

                <button md-raised-button [mdMenuTriggerFor]="menu">View</button>
                <md-menu #menu="mdMenu">
                    <button md-menu-item (click)="changeView(1)">View items as list</button>
                    <button md-menu-item (click)="changeView(2)">View items as grid</button>
                </md-menu>
            </div>

            <ul class="nav nav-tabs" style="background-color: white"><!-- Nav bar -->
                <li role="presentation" *ngIf="selected==1; else notActive1" class="active">
                    <a (click)="setNavigation(1)">Travel</a>
                </li>
                <ng-template #notActive1>
                    <li role="presentation"><a (click)="setNavigation(1)">Travel</a></li>
                </ng-template>

                <li role="presentation" *ngIf="selected==2; else notActive2" class="active">
                    <a (click)="setNavigation(2)">Accommodation</a>
                </li>
                <ng-template #notActive2>
                    <li role="presentation"><a (click)="setNavigation(2)">Accommodation</a></li>
                </ng-template>

                <li role="presentation" *ngIf="selected==3; else notActive3" class="active">
                    <a (click)="setNavigation(3)">Food</a>
                </li>
                <ng-template #notActive3>
                    <li role="presentation"><a (click)="setNavigation(3)">Food</a></li>
                </ng-template>

                <li role="presentation" *ngIf="selected==4; else notActive4" class="active">
                    <a (click)="setNavigation(4)">Activities</a>
                </li>
                <ng-template #notActive4>
                    <li role="presentation"><a (click)="setNavigation(4)">Activities</a></li>
                </ng-template>

                <li role="presentation" *ngIf="selected==5; else notActive5" class="active">
                    <a (click)="setNavigation(5)">Cart</a>
                </li>
                <ng-template #notActive5>
                    <li role="presentation"><a (click)="setNavigation(5)">Cart</a></li>
                </ng-template>

                <li role="presentation" id="viewFilter">
                    <a (click)="viewFilter()">Filter</a>
                </li>
            </ul><!-- end Nav bar -->

            <!-- ===========================================
                            TRAVEL VIEW
            
                ============================================-->
            <div class="container view add-padding-top-15" *ngIf="selected==1">
                <div class="row"><!-- Travel initial form -->
                    <div class="col-md-12">
                        <p>Newcastle Connections offer a shuttle bus service!</p>
                        <p>Add to your package now</p>
                        <label class="control-label col-sm-3" for="travel">Do you require Travel?</label>

                        <md-radio-group class="example-radio-group" [(ngModel)]="travelValue">
                            <md-radio-button class="example-radio-button" *ngFor="let option of travelOptions" [value]="option">
                                {{option}}
                            </md-radio-button>
                        </md-radio-group>

                        <p>If you require travel from a destination or not</p>
                    </div>
                </div>
                
                <!-- Travel form input -->
                <div class="row s-view" *ngIf="travelValue=='Yes'" style="padding-bottom: 100px">
                    <hr>
                    <p>Pick-up information:
                        <span class="badge" data-toggle="tooltip" data-placement="top" title="Location where to pickup from. Leave blank if travel is not required.">?</span></p>
                    <p>
                        <md-input-container class="example-full-width">
                            <input [(ngModel)]='travelPickup.address' mdInput placeholder="Address" />
                        </md-input-container>
                    </p>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <md-input-container class="example-full-width">
                                    <input [(ngModel)]='travelPickup.city' mdInput placeholder="City">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="example-full-width">
                                    <input mdInput [(ngModel)]='travelPickup.state' placeholder="State">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="example-full-width">
                                    <input mdInput [(ngModel)]='travelPickup.postcode' #postalCode maxlength="4" placeholder="Postal Code" value="">
                                    <md-hint align="end">{{postalCode.value.length}} / 4</md-hint>
                                </md-input-container>
                            </td>
                        </tr>
                    </table>
                    <md2-datepicker 
                        type="date"
                        required="true"
                        mode="portrait"
                        placeholder="Select Date"
                        tabindex="1"
                        openOnFocus="true"
                        container="dialog"
                        [(ngModel)]="travelPickup.date">
                    </md2-datepicker>
                    <md2-datepicker 
                        type="time"
                        required="true"
                        mode="portrait"
                        placeholder="Select Time"
                        tabindex="1"
                        openOnFocus="true"
                        container="dialog"
                        [(ngModel)]="travelPickup.time">
                    </md2-datepicker>

                    <hr>
                    <p>Drop-off information:
                        <span class="badge" data-toggle="tooltip" data-placement="top" title="Location where to pickup from when arriving home. Leave blank if travel is not required.">?</span>
                        <button type="button" (click)="fillDropOff()" md-raised-button>Same as pickup</button>
                    </p>
                    
                    <p>
                        <md-input-container class="example-full-width">
                            <input mdInput [(ngModel)]='travelDropoff.address' placeholder="Address"/>
                        </md-input-container>
                    </p>
                    <table class="example-full-width" cellspacing="0">
                        <tr>
                            <td>
                                <md-input-container class="example-full-width">
                                    <input mdInput [(ngModel)]='travelDropoff.city' placeholder="City">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="example-full-width">
                                    <input mdInput [(ngModel)]='travelDropoff.state' placeholder="State">
                                </md-input-container>
                            </td>
                            <td>
                                <md-input-container class="example-full-width">
                                    <input mdInput [(ngModel)]='travelDropoff.postcode' #postalCode maxlength="4" placeholder="Postal Code" value="">
                                    <md-hint align="end">{{postalCode.value.length}} / 4</md-hint>
                                </md-input-container>
                            </td>
                        </tr>
                    </table>
                    <md2-datepicker 
                        type="date"
                        required="true"
                        mode="portrait"
                        placeholder="Select Date"
                        tabindex="1"
                        openOnFocus="true"
                        container="dialog"
                        [(ngModel)]="travelDropoff.date">
                    </md2-datepicker>
                    <md2-datepicker 
                        type="time"
                        required="true"
                        mode="portrait"
                        placeholder="Select Time"
                        tabindex="1"
                        openOnFocus="true"
                        container="dialog"
                        [(ngModel)]="travelDropoff.address">
                    </md2-datepicker>
                </div>
            </div>

            <!-- ===========================================
                        ACCOMMODATION VIEW
            
                ============================================-->
                
            <div class="container view-x add-padding-top-15" *ngIf="selected==2">
                <ng-container *ngIf="view == 1">
                    <div  *ngFor="let accommodation of accommodationList" class="row item-container"><!-- accommodation i --> 
                        <div (click)="viewItem(1,accommodation, null, null, accommodationDialog)" class="col-md-3" style="cursor:pointer">
                            <div class="img">
                                <img src="assets\image\package-item\hotel\{{accommodation.pictureURL}}" width="100%" height="100%"/>
                                <div *ngIf="accommodation.bestSeller" class="hotelAdvert" style="bottom: 0">Best Seller</div>
                            </div>
                        </div><!-- image -->
                        <div class="col-md-9 item-content"><!-- content -->
                            <div class="row">
                                <div class="col-md-9"><!-- accommodation name -->
                                    <h3 class="text-lg text-b text-primary">
                                        <a (click)="viewItem(1,accommodation, null, null, accommodationDialog)" class="text-hover-primary">{{accommodation.accommodationName}}</a>
                                        <span *ngFor="let star of accommodation.accommodationStars" class="text-smd text-primary glyphicon glyphicon-star"></span>
                                    </h3>
                                    <a class="text-hover-k text-sm text-k">
                                        <span class="text-u">{{accommodation.accommodationSuburb}}</span>
                                        <span class="glyphicon glyphicon-globe"></span>
                                    </a>
                                </div><!-- accommodation name end-->

                                <div *ngIf="accommodation.accommodationUserRating != -1" class="col-md-3 item-rating"><!-- rating -->
                                    <span class="text-lg text-w text-hide">{{accommodation.accommodationRating}}</span>
                                    <span class="text-sm text-w text-hide">{{accommodation.accommodationUserRating}}/5</span>
                                    <a>
                                        <span class="text-u text-hover-k text-xsm text-g text-nl">3782 reviews</span>
                                    </a>
                                </div><!-- rating -->
                            </div>

                            <div class="row item-features">
                                <span class="text-sm text-k">Features:</span>
                                <span *ngFor="let feature of accommodation.topFeatures" class="text-xsm text-k">
                                    <span class="glyphicon glyphicon-ok"></span>
                                    {{feature.feature}}
                                </span>
                            </div>

                            <div class="row item-bottom">
                                <div class="col-md-8">
                                    <span class="text-xlg text-b text-primary">AUD $</span>
                                    <span class="text-xlg text-b text-primary">{{accommodation.pricePerNight}}</span>
                                    <span class="text-md text-primary glyphicon glyphicon-triangle-left"></span>
                                    <span class="text-md text-k glyphicon glyphicon-bed">{{accommodation.numBeds}}</span>
                                    <span class="text-md text-k glyphicon glyphicon-user">{{accommodation.numPeople}}</span>
                                </div>
                                <div class="col-md-4"><!-- Add to cart -->
                                    <ng-container *ngIf="accommodation.accommodationID == selectedAccommodation; then accSelected else accNormal"></ng-container>
                                    <ng-template #accNormal>
                                        <button (click)="addAccommodation(accommodation)" type="button" md-button style="float: right">Select</button>
                                    </ng-template>
                                    <ng-template #accSelected>
                                        <button disabled type="button" md-button style="float: right">Selected</button>
                                    </ng-template>
                                </div>
                            </div>
                        </div><!--content -->
                    </div>
                </ng-container>

                <ng-container *ngIf="view == 2">
                    <div class="row">
                        <div class="col-sm-3 item-container-grid" *ngFor="let accommodation of accommodationList">
                            <div class="row" style="margin-bottom: 30px">
                                <div (click)="viewItem(1,accommodation, null, null, accommodationDialog)" class="col-md-12" style="cursor: pointer">
                                    <div class="img">
                                        <div *ngIf="accommodation.bestSeller" class="hotelAdvert">Best Seller</div>
                                        <img src="assets\image\package-item\hotel\{{accommodation.pictureURL}}" width="100%" height="100%"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 class="text-lg text-b text-primary">
                                        <a (click)="viewItem(1,accommodation, null, null, accommodationDialog)" class="text-hover-primary">{{accommodation.accommodationName}}</a>
                                        <span *ngFor="let star of accommodation.accommodationStars" class="text-smd text-primary glyphicon glyphicon-star"></span>
                                    </h3>
                                    <a class="text-hover-k text-sm text-k">
                                        <span class="text-u">{{accommodation.accommodationSuburb}}</span>
                                        <span class="glyphicon glyphicon-globe"></span>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <span class="text-lg text-b text-primary">AUD $</span>
                                    <span class="text-lg text-b text-primary">{{accommodation.pricePerNight}}</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12"><!-- Add to cart -->
                                    <ng-container *ngIf="accommodation.accommodationID == selectedAccommodation; then accSelected else accNormal"></ng-container>
                                    <ng-template #accNormal>
                                        <button (click)="addAccommodation(accommodation)" type="button" md-button style="float: right">Select</button>
                                    </ng-template>
                                    <ng-template #accSelected>
                                        <button disabled type="button" md-button style="float: right">Selected</button>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- ===========================================
                        FOOD AND DRINKS VIEW
            
                ============================================-->
            <md-sidenav-container *ngIf="selected==3">
                <!-- Side Nav to store the day selection  -->
                <md-sidenav #sidenav mode="side" opened="{{isTrue}}">
                    <div class="col" style="height: 100%; border-right: 1px solid rgba(221,221,221,1)">
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            <li><span class="text-md text-primary">Days</span></li>
                            <li *ngFor="let day of days">
                                <a (click)="setDays(day)" *ngIf="day==selectedDay; else notActiveDay" style="border: 1px solid rgba(221,221,221,1); border-right: none;">{{day}}</a>
                                <ng-template #notActiveDay>
                                    <a (click)="setDays(day); ">{{day}}</a>
                                </ng-template>
                            </li>        
                        </ul>
                    </div>
                </md-sidenav>

                <div class="container view-x add-padding-top-15"><!-- food day content -->
                    <!-- <button type="button" md-raised-button (click)="sidenav.open()">
                        <span class="text-sm text-primary text-b">Select day:</span>
                        <span class="text-sm text-primary">{{selectedDay}}</span>
                    </button> -->

                    <div class="row" style="width: 100%; border-bottom: 1px solid rgba(221,221,221,1); padding-bottom: 5px; padding-left: 40px">
                        <span class="text-xsm">Add food and drinks to your package.</span>
                    </div>

                    <ng-container *ngIf="view == 1">
                        <div *ngFor="let f of foodAndDrinks" class="row item-container"><!-- restaurant item -->
                            <div class="col-md-3">
                                <div (click)="viewItem(2,null, f, null)" class="img" style="cursor: pointer">
                                    <img src="assets\image\food-and-drinks\{{f.photoURL}}" width="100%" height="100%"/>
                                    <div class="hotelAdvert" style="bottom: 0">{{f.diningStyle}}</div>
                                </div>
                            </div><!-- image -->
                            <div class="col-md-9 item-content"><!-- content -->
                                <div class="row">
                                    <div class="col-md-9"><!-- hotel name -->
                                        <h3 class="text-lg text-b text-primary">
                                            <a (click)="viewItem(2,null, f, null)" class="text-hover-primary">{{f.name}}</a>
                                            <span *ngFor="let star of f.stars" class="text-smd text-primary glyphicon glyphicon-star"></span>
                                        </h3>
                                        <a class="text-hover-k text-sm text-k">
                                            <span class="text-u">{{f.suburb}}</span>
                                            <span class="glyphicon glyphicon-globe"></span>
                                        </a>
                                    </div><!-- hotel name end-->

                                    <div *ngIf="f.userRating != -1" class="col-md-3 item-rating"><!-- rating -->
                                        <span class="text-lg text-w text-hide">{{f.rating}}</span>
                                        <span class="text-sm text-w text-hide">{{f.userRating}}/5</span>
                                        <a>
                                            <span class="text-u text-hover-k text-xsm text-g text-nl">3782 reviews</span>
                                        </a>
                                    </div><!-- rating -->
                                </div>

                                <div class="row item-features">
                                    <span class="text-xsm text-k">Menu Theme: {{f.menuTheme}} | </span>

                                    <span class="text-xsm text-k">Description: {{f.briefDescription}}</span>

                                </div>

                                <div class="row item-bottom">
                                    <div class="col-md-6">
                                            <span *ngFor="let expense of f.expense" class="text-lg text-b text-primary">$</span>
                                    </div>
                                    <div class="col-md-6"><!-- Add to cart -->
                                        <ng-container *ngIf="checkFood(f); then add else remove"></ng-container>
                                        <ng-template #add>
                                            <button type="button" md-button (click)="setFood(f, 0)" style="float: right">Add</button>
                                            <button type="button" md-button (click)="setFood(f, 1)" style="float: right">Add for all days</button>
                                        </ng-template>
                                        <ng-template #remove>
                                            <button type="button" md-raised-button color='warn' (click)="removeFood(f, 0)" style="float: right">Remove</button>
                                            <button type="button" md-raised-button color='warn' (click)="removeFood(f, 1)" style="float: right; margin-right: 10px">Remove for all days</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div><!--content -->
                        </div>
                    </ng-container>

                    <ng-container *ngIf="view == 2">
                            <div class="row">
                                <div class="col-sm-3 item-container-grid" *ngFor="let f of foodAndDrinks">
                                    <div class="row" style="margin-bottom: 50px">
                                        <div class="col-md-12">
                                            <div (click)="viewItem(2,null, f, null)" class="img" style="cursor: pointer">
                                                <div class="hotelAdvert" style="bottom: 0">{{f.diningStyle}}</div>
                                                <img src="assets\image\package-item\hotel\{{f.photoURL}}" width="100%" height="100%"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-md text-b text-primary">
                                                <a (click)="viewItem(2,null, f, null)" class="text-hover-primary text-nl">{{f.name}}</a>
                                                <span *ngFor="let star of f.stars" class="text-sm text-primary glyphicon glyphicon-star"></span>
                                            </span>
                                            <a class="text-hover-k text-nl text-sm text-k">
                                                <span class="text-u">{{f.suburb}}</span>
                                                <span class="glyphicon glyphicon-globe"></span>
                                            </a>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span *ngFor="let expense of f.expense" class="text-lg text-b text-primary">$</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12"><!-- Add to cart -->
                                            <ng-container *ngIf="checkFood(f); then add else remove"></ng-container>
                                            <ng-template #add>
                                                <button type="button" md-button (click)="setFood(f, 0)" style="float: right">Add</button>
                                                <button type="button" md-button (click)="setFood(f, 1)" style="float: right">Add for all days</button>
                                            </ng-template>
                                            <ng-template #remove>
                                                <button type="button" md-raised-button color='warn' (click)="removeFood(f, 0)" style="float: right">Remove</button>
                                                <button type="button" md-raised-button color='warn' (click)="removeFood(f, 1)" style="float: right; margin-right: 10px">Remove for all days</button>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </div><!-- end food content -->
            </md-sidenav-container>


            <!-- ===========================================
                            ACTIVITES VIEW
            
                ============================================-->
            <md-sidenav-container *ngIf="selected==4">
                <md-sidenav #sidenav mode="side" opened="{{isTrue}}">
                    <div class="col" style="height: 100%; border-right: 1px solid rgba(221,221,221,1)">
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            <li><span class="text-md text-primary">Days</span></li>
                            <li *ngFor="let day of days">
                                <a (click)="setDays(day)" *ngIf="day==selectedDay; else notActiveDay" style="border: 1px solid rgba(221,221,221,1); border-right: none;">{{day}}</a>
                                <ng-template #notActiveDay>
                                    <a (click)="setDays(day)">{{day}}</a>
                                </ng-template>
                            </li>        
                        </ul>
                    </div>
                </md-sidenav>

                <div class="container view-x add-padding-top-15"><!-- Activity day content -->
                    <!-- <button type="button" md-raised-button (click)="sidenav.open()">
                        <span class="text-sm text-primary text-b">Select day:</span>
                        <span class="text-sm text-primary">{{selectedDay}}</span>
                    </button> -->

                    <div class="row" style="width: 100%; border-bottom: 1px solid rgba(221,221,221,1); padding-bottom: 5px; padding-left: 40px">
                        <span class="text-xsm">Add activites / events and attractions to your package.</span>
                    </div>

                    <ng-container *ngIf="view == 1">
                        <div *ngFor="let activity of activities" class="row item-container"><!-- activity item --> 
                            <div class="col-md-3">
                                <div (click)="viewItem(3,null, null, activity, activityDialog)" class="img" style="cursor: pointer">
                                    <img src="\res\image\activties\{{activity.photoURL}}" width="100%" height="100%"/>
                                    <div *ngIf="activity.bestSeller" class="hotelAdvert" style="bottom: 0">Best Seller</div>
                                </div>
                            </div><!-- image -->

                            <div class="col-md-9 item-content"><!-- content -->
                                <div class="row">
                                    <div class="col-md-9"><!-- activity name -->
                                        <h3 class="text-lg text-b text-primary">
                                            <a (click)="viewItem(3,null, null, activity, activityDialog)" class="text-hover-primary">{{activity.name}}</a>
                                            <span *ngFor="let star of activity.stars" class="text-smd text-primary glyphicon glyphicon-star"></span>
                                        </h3>
                                        <a class="text-hover-k text-sm text-k">
                                            <span class="text-u">{{activity.suburb}}</span>
                                            <span class="glyphicon glyphicon-globe"></span>
                                        </a>
                                    </div><!-- activity name end-->

                                    <div class="col-md-3 item-rating"><!-- rating -->
                                        <span class="text-lg text-w text-hide">Fabulous!</span>
                                        <!--<span class="text-sm text-w text-hide">{{activity.userRating}}/5</span>-->
                                        <!-- Currently hardcoding the userRating to 4, since we don't have a userRating variable in the Activity table: -->
                                        <span class="text-sm text-w text-hide">4/5</span>
                                        <a>
                                            <span class="text-u text-hover-k text-xsm text-g text-nl">3782 reviews</span>
                                        </a>
                                    </div><!-- rating -->
                                </div>

                                <div class="row item-features">
                                    <span class="text-xsm text-k">Description: {{activity.briefDescription}}</span>
                                </div>

                                <div class="row item-bottom">
                                    <div class="col-md-8">
                                        <ng-container *ngIf="activity.price == 0; then showFree else showPrice"></ng-container>
                                        <ng-template #showFree>
                                            <span class="text-lg text-b text-primary">Free</span>
                                        </ng-template>
                                        <ng-template #showPrice>
                                            <span class="text-lg text-b text-primary">${{activity.price}}</span>
                                        </ng-template>
                                    </div>
                                    <div class="col-md-4"><!-- Add to cart -->
                                        <ng-container *ngIf="checkActivity(activity); then add else remove"></ng-container>
                                        <ng-template #add>
                                            <button type="button" md-button (click)="setActivity(activity)" style="float: right">Add</button>
                                        </ng-template>
                                        <ng-template #remove>
                                            <button type="button" md-raised-button color='warn' (click)="removeActivity(activity)" style="float: right">Remove</button>
                                        </ng-template>
                                    </div>
                                </div>
                            </div><!--content -->
                        </div>
                    </ng-container>

                    <ng-container *ngIf="view == 2">
                            <div class="row">
                                <div class="col-sm-3 item-container-grid" *ngFor="let a of activities">
                                    <div class="row" style="margin-bottom: 50px">
                                        <div (click)="viewItem(1,a, null, null, activityDialog)" class="col-md-12" style="cursor: pointer">
                                            <div class="img">
                                                <div *ngIf="a.bestSeller" class="hotelAdvert">Best Seller</div>
                                                <img src="assets\image\package-item\hotel\{{a.pictureURL}}" width="100%" height="100%"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-md text-b text-nl text-primary">
                                                <a (click)="viewItem(1,a, null, null, activityDialog)" class="text-hover-primary">{{a.name}}</a>
                                            </span>
                                            <a class="text-hover-k text-sm text-k">
                                                <span class="text-u">{{a.suburb}}</span>
                                                <span class="glyphicon glyphicon-globe"></span>
                                            </a>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="text-lg text-b text-primary">AUD $</span>
                                            <span class="text-lg text-b text-primary">{{a.price}}</span>
                                        </div>
                                    </div>
        
                                    <div class="row">
                                        <div class="col-md-12"><!-- Add to cart -->
                                            <ng-container *ngIf="checkActivity(activity); then add else remove"></ng-container>
                                            <ng-template #add>
                                                <button type="button" md-button (click)="setActivity(activity)" style="float: right">Add</button>
                                            </ng-template>
                                            <ng-template #remove>
                                                <button type="button" md-raised-button color='warn' (click)="removeActivity(activity)" style="float: right">Remove</button>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                </div><!-- end activity content -->
            </md-sidenav-container>

            <!-- ===========================================
                            CART VIEW
            
                ============================================-->
            <div id="cart" class="container x-view" *ngIf="selected==5">
                <shopping-cart></shopping-cart>
            </div>
        </div><!-- <div class="md-col-10">-->

        <div class="col-sm-2" id="cartForm">
            <h1>Cart:</h1>
            <p>
                <span class="text-sm text-b">Travel Selected:</span>
                <span class="text-sm"> {{travelValue}}</span>
            </p>
            
            <p>
                <span class="text-sm text-b">Accommodation:</span>
                <a (click)="viewItem(1,custom.accommodation, null,null)"><span class="text-sm">{{selectedAccommodationName}}</span></a>
            </p>

            <p>
                <ng-container *ngFor="let day of days">
                    <span class="text-sm text-b text-nl text-u">Day {{day}}</span>
                    <!-- Food and drinks  -->
                    <div class="col-6">
                        <span class="text-xsm text-b text-nl">Food and Drinks</span>
                        <ng-container *ngFor="let food of custom.foodAndDrinks">
                            <a (click)="viewItem(2,null, food,null)" style="padding-left:5px"><span *ngIf="food.selectedDay == day" class="text-xsm">{{food.name}}</span></a>
                            <span *ngIf="food.selectedDay == day" class="text-xsm text-nl text-ind">Time: {{food.selectedTime}}</span>
                        </ng-container>
                        <hr style="padding: 0; margin: 0; width: 50%">
                    </div>
                    <!-- Activities  -->
                    <div class="col-6">
                        <span class="text-xsm text-b text-nl">Activities</span>
                        <ng-container *ngFor="let activity of custom.activity">
                            <a (click)="viewItem(3, null, null, activity)" style="padding-left:5px"><span *ngIf="activity.selectedDay == day" class="text-xsm">{{activity.name}}</span></a>
                            <span *ngIf="activity.selectedDay == day" class="text-xsm text-nl text-ind">Time: {{activity.selectedTime}}</span>
                        </ng-container>
                    </div>
                </ng-container>
            </p>

            <button (click)="changeBudget()" md-raised-button><span class="text-b">Cost: </span>${{custom.packageCost}} / ${{budget}}</button>
        </div>
    </div><!-- row -->
</div><!-- end Main View Container -->


<md2-dialog #accommodationDialog [title]="viewAccommodation.accommodationName" style="background-color:grey">
    <div class="view-item-header">
        <ul class="nav nav-tabs" 
            style=
                "   font-size: 12pt; 
                    margin-bottom: 0;
                    border: 0;
                "><!-- Nav bar -->
            <li role="presentation" *ngIf="dialogSelection==1; else notADActive1" class="active">
                <a (click)="setDialogNavigation(1)">Details</a>
            </li>
            <ng-template #notADActive1>
                <li role="presentation"><a (click)="setDialogNavigation(1)">Details</a></li>
            </ng-template>
    
            <li role="presentation" *ngIf="dialogSelection==2; else notADActive2" class="active">
                <a (click)="setDialogNavigation(2)">Room Details</a>
            </li>
            <ng-template #notADActive2>
                <li role="presentation"><a (click)="setDialogNavigation(2)">Room Details</a></li>
            </ng-template>
        </ul>
    </div>

    <div class="view-item-content-main" *ngIf="dialogSelection==1">
        <div class="row"> <!-- Picture Gallery and reviews -->
            <div class="main-image" style="margin-bottom: 30px">
                <img src="assets/img_nature_wide.jpg" width="100%" height="200px">
            </div>
        </div>

        <div class="row"> <!-- Map and hotel features -->
            <div class="col-md-6">
                <agm-map [zoom]="18" [latitude]="viewAccommodation.latitude" [longitude]="viewAccommodation.longitude">
                    <agm-marker [latitude]="viewAccommodation.latitude" [longitude]="viewAccommodation.longitude"></agm-marker>
                </agm-map>
            </div>

            <div class="col-md-6">
                <span class="text-b">Location: </span>
                <span>{{viewAccommodation.accommodationAddress}}</span>
                <h4><span class="text-b" style="text-transform: capitalize">{{viewAccommodation.accommodationType}} Features:</span></h4>

                <div class="col-md-2 offset-md-1">
                <h4 *ngFor="let f of viewAccommodation.features">
                    <span class="label label-primary">{{f.feature}}</span>
                </h4>
                </div>
            </div>
        </div>
    </div>

    <div class="view-item-content-rooms" *ngIf="dialogSelection==2">
        <table mdSort (mdSortChange)="sortData($event)">
            <tr style="background-color: grey">
                <th md-sort-header="room">Room Type</th>
                <th md-sort-header="features">Features</th>
                <th md-sort-header="price">Price</th>
            </tr>
            
            <tr *ngFor="let room of viewAccommodation.room">
                <td>
                    <span class="text-b text-nl">{{room.roomTitle}}</span>
                    <span class="text-nl text-sm">{{room.numBeds}} bed/s</span>
                    <span class="text-sm">Room sleeps {{room.numPeople}} guests</span>
                </td>
                <td>
                    <span class="text-primary" *ngFor="let f of room.features">{{f}}</span>
                </td>
                <td>{{room.roomPrice}}</td>
            </tr>
        </table>
    </div>
</md2-dialog>