<!-- <ng2-slim-loading-bar [height]="'6px'" [color]="'green'"></ng2-slim-loading-bar>loading bar which gets activated when loading of data from the database -->
<navigationtop></navigationtop>

<div class="container-fluid"><!-- Main View Container -->
    <!-- <div class="row" style="margin-left: 200px;">
        <div class="col-md-2 offset-md-4">
            <h1>Image testing</h1>
            <div *ngFor="let image of imageList" class="row">
                testing
                <img src="data:image/png;base64,{{image.base64Equiv}}" alt="photo not found" />
            </div>
        </div>
    </div> -->

    <!-- Content -->
    <div class="row">
        <div class="col-md-10">
            <!-- Filter -->
            <div class="row" id="sort" *ngIf="selected > 1">
                <button md-button [mdMenuTriggerFor]="sort">Sort: {{sortValue}}</button>
                <md-menu #sort="mdMenu">
                    <button md-menu-item (click)="changeSort('Recommendation')">Recommendation</button>
                    <button md-menu-item (click)="changeSort('Distance')">Distance from CBD</button>
                    <button md-menu-item (click)="changeSort('Name')">Name</button>
                    <button md-menu-item (click)="changeSort('Rating')">Rating</button>
                    <button md-menu-item (click)="changeSort('Price')">Price</button>
                </md-menu>

                <button md-button [mdMenuTriggerFor]="view">View: {{viewString}}</button>
                <md-menu #view="mdMenu">
                    <button md-menu-item (click)="changeView(1)">View items as list</button>
                    <button md-menu-item (click)="changeView(2)">View items as grid</button>
                </md-menu>

                <button md-button [mdMenuTriggerFor]="show">Show: {{showString}}</button>
                <md-menu #show="mdMenu">
                    <button md-menu-item (click)="changeShow(1)">All</button>
                    <button *ngIf="selected==2 || selected==4" md-menu-item (click)="changeShow(2)">Best Seller</button>
                    <ng-container *ngIf="selected==3">
                        <button md-menu-item (click)="changeShow(3)">Bar</button>
                        <button md-menu-item (click)="changeShow(4)">Dining</button>
                        <button md-menu-item (click)="changeShow(5)">Take Away</button>
                        <button md-menu-item (click)="changeShow(6)">Cafe</button>
                    </ng-container>
                </md-menu>
            </div>

            <ul class="nav nav-tabs" style="background-color: white"><!-- Nav bar -->
                <li role="presentation" *ngIf="selected==1; else notActive1" class="active">
                    <a *ngIf="checkLoad()" (click)="setNavigation(1)">Travel</a>
                    <a *ngIf="!checkLoad()">Travel</a>
                </li>
                <ng-template #notActive1>
                    <li role="presentation">
                        <a *ngIf="checkLoad()" (click)="setNavigation(1)">Travel</a>
                        <a *ngIf="!checkLoad()">Travel</a>
                    </li>
                </ng-template>

                <li role="presentation" *ngIf="selected==2; else notActive2" class="active">
                    <a *ngIf="checkLoad()" (click)="setNavigation(2)">Accommodation</a>
                    <a *ngIf="!checkLoad()">Accommodation</a>
                </li>
                <ng-template #notActive2>
                    <li role="presentation">
                        <a *ngIf="checkLoad()" (click)="setNavigation(2)">Accommodation</a>
                        <a *ngIf="!checkLoad()">Accommodation</a>
                    </li>
                </ng-template>

                <li role="presentation" *ngIf="selected==3; else notActive3" class="active">
                    <a *ngIf="checkLoad()" (click)="setNavigation(3)">Food</a>
                    <a *ngIf="!checkLoad()">Food</a>
                </li>
                <ng-template #notActive3>
                    <li role="presentation">
                        <a *ngIf="checkLoad()" (click)="setNavigation(3)">Food</a>
                        <a *ngIf="!checkLoad()">Food</a>
                    </li>
                </ng-template>

                <li role="presentation" *ngIf="selected==4; else notActive4" class="active">
                    <a *ngIf="checkLoad()" (click)="setNavigation(4)">Activities</a>
                    <a *ngIf="!checkLoad()">Activities</a>
                </li>
                <ng-template #notActive4>
                    <li role="presentation">
                        <a *ngIf="checkLoad()" (click)="setNavigation(4)">Activities</a>
                        <a *ngIf="!checkLoad()">Activities</a>
                    </li>
                </ng-template>

                <li role="presentation" *ngIf="selected==5; else notActive5" class="active">
                    <a *ngIf="checkLoad()" (click)="setNavigation(5)">Cart</a>
                    <a *ngIf="!checkLoad()">Cart</a>
                </li>
                <ng-template #notActive5>
                    <li role="presentation">
                        <a *ngIf="checkLoad()" (click)="setNavigation(5)">Cart</a>
                        <a *ngIf="!checkLoad()">Cart</a>
                    </li>
                </ng-template>

                <li role="presentation" id="viewFilter">
                    <a (click)="viewFilter()">Filter</a>
                </li>
            </ul><!-- end Nav bar -->

            <div *ngIf="!checkLoad()" style="width: 100%; text-align: center">
                    <h1>Please wait while the form loads</h1>
                    
                    <img src="assets/loading.svg" width="50px" height="50px"/>
            </div>
            <!-- ===========================================
                            TRAVEL VIEW
            
                ============================================-->
            <div class="row view-x" *ngIf="selected==1 && checkLoad()">
                <div class="col-md-12">
                    <div class="row"><!-- Travel initial form -->
                        <div class="col-md-12">
                            <p>Newcastle Connections offer a shuttle bus service!</p>
                            <p>Add to your package now</p>
                            <label class="control-label col-sm-3" for="travel">Do you require Travel?</label>

                            <md-radio-group class="example-radio-group" [(ngModel)]="travelValue">
                                <md-radio-button class="example-radio-button" *ngFor="let option of travelOptions" [value]="option">
                                    {{option}}
                                </md-radio-button>
                            </md-radio-group>

                            <p>If you require travel from a destination or not</p>
                        </div>
                    </div>
                    
                    <!-- Travel form input -->
                    <div class="row" *ngIf="travelValue=='Yes'" style="padding-bottom: 100px">
                        <hr>
                        <p>Pick-up information:
                            <span class="badge" data-toggle="tooltip" data-placement="top" title="Location where to pickup from. Leave blank if travel is not required.">?</span></p>
                        <p>
                            <md-input-container class="example-full-width">
                                <input [(ngModel)]='travelPickup.address' mdInput placeholder="Address" />
                            </md-input-container>
                        </p>
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <md-input-container class="example-full-width">
                                        <input [(ngModel)]='travelPickup.city' mdInput placeholder="City">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container class="example-full-width">
                                        <input mdInput [(ngModel)]='travelPickup.state' placeholder="State">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container class="example-full-width">
                                        <input mdInput [(ngModel)]='travelPickup.postcode' #postalCode maxlength="4" placeholder="Postal Code" value="">
                                        <md-hint align="end">{{postalCode.value.length}} / 4</md-hint>
                                    </md-input-container>
                                </td>
                            </tr>
                        </table>
                        <md2-datepicker 
                            type="date"
                            required="true"
                            mode="portrait"
                            placeholder="Select Date"
                            tabindex="1"
                            openOnFocus="true"
                            container="dialog"
                            [(ngModel)]="travelPickup.date">
                        </md2-datepicker>
                        <md2-datepicker 
                            type="time"
                            required="true"
                            mode="portrait"
                            placeholder="Select Time"
                            tabindex="1"
                            openOnFocus="true"
                            container="dialog"
                            [(ngModel)]="travelPickup.time">
                        </md2-datepicker>

                        <hr>
                        <p>Drop-off information:
                            <span class="badge" data-toggle="tooltip" data-placement="top" title="Location where to pickup from when arriving home. Leave blank if travel is not required.">?</span>
                            <button type="button" (click)="fillDropOff()" md-raised-button>Same as pickup</button>
                        </p>
                        
                        <p>
                            <md-input-container class="example-full-width">
                                <input mdInput [(ngModel)]='travelDropoff.address' placeholder="Address"/>
                            </md-input-container>
                        </p>
                        <table class="example-full-width" cellspacing="0">
                            <tr>
                                <td>
                                    <md-input-container class="example-full-width">
                                        <input mdInput [(ngModel)]='travelDropoff.city' placeholder="City">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container class="example-full-width">
                                        <input mdInput [(ngModel)]='travelDropoff.state' placeholder="State">
                                    </md-input-container>
                                </td>
                                <td>
                                    <md-input-container class="example-full-width">
                                        <input mdInput [(ngModel)]='travelDropoff.postcode' #postalCode maxlength="4" placeholder="Postal Code" value="">
                                        <md-hint align="end">{{postalCode.value.length}} / 4</md-hint>
                                    </md-input-container>
                                </td>
                            </tr>
                        </table>
                        <md2-datepicker 
                            type="date"
                            required="true"
                            mode="portrait"
                            placeholder="Select Date"
                            tabindex="1"
                            openOnFocus="true"
                            container="dialog"
                            [(ngModel)]="travelDropoff.date">
                        </md2-datepicker>
                        <md2-datepicker 
                            type="time"
                            required="true"
                            mode="portrait"
                            placeholder="Select Time"
                            tabindex="1"
                            openOnFocus="true"
                            container="dialog"
                            [(ngModel)]="travelDropoff.address">
                        </md2-datepicker>
                    </div>
                </div>
            </div>

            <!-- ===========================================
                        ACCOMMODATION VIEW
            
                ============================================-->
                
            <div class="row view-x" *ngIf="selected==2">
                <ng-container  *ngFor="let a of accommodationList" ><!-- accommodation i --> 
                    <ng-container *ngIf="checkShow(a,null,null, 1)">
                        <accommodation 
                            [accommodation]="a" 
                            [selectedAccommodation]="custom.accommodation.accommodationID" 
                            [view]="view"
                            [duration]="duration" >
                        </accommodation>
                    </ng-container>
                </ng-container>
            </div>

            <!-- ===========================================
                        FOOD AND DRINKS VIEW
            
                ============================================-->
            <md-sidenav-container *ngIf="selected==3">
                <!-- Side Nav to store the day selection  -->
                <md-sidenav #sidenav mode="side" opened="{{isTrue}}">
                    <div class="col" style="height: 100%; border-right: 1px solid rgba(221,221,221,1)">
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            <li><span class="text-md text-primary">Days</span></li>
                            <li *ngFor="let day of days">
                                <a (click)="setDays(day)" *ngIf="day==selectedDay; else notActiveDay" style="border: 1px solid rgba(221,221,221,1); border-right: none;">{{day}}</a>
                                <ng-template #notActiveDay>
                                    <a (click)="setDays(day); ">{{day}}</a>
                                </ng-template>
                            </li>        
                        </ul>
                    </div>
                </md-sidenav>

                <div class="row view-x">
                    <ng-container *ngFor="let f of foodAndDrinks"><!-- restaurant item -->
                        <ng-container *ngIf="checkShow(null, f, null, 2)">
                            <food-and-drinks [pItem]="true" [foodAndDrinks]="f" [view]="view" [selectedFoodAndDrinks]="custom.selectedFoodAndDrinks" [selectedDay]="selectedDay" (selected)="setFoodAndDrinks($event)"></food-and-drinks>
                        </ng-container>
                    </ng-container>
                </div><!-- end food content -->
            </md-sidenav-container>


            <!-- ===========================================
                            ACTIVITES VIEW
            
                ============================================-->
            <md-sidenav-container *ngIf="selected==4">
                <md-sidenav #sidenav mode="side" opened="{{isTrue}}">
                    <div class="col" style="height: 100%; border-right: 1px solid rgba(221,221,221,1)">
                        <ul class="nav nav-pills nav-stacked" role="tablist">
                            <li><span class="text-md text-primary">Days</span></li>
                            <li *ngFor="let day of days">
                                <a (click)="setDays(day)" *ngIf="day==selectedDay; else notActiveDay" style="border: 1px solid rgba(221,221,221,1); border-right: none;">{{day}}</a>
                                <ng-template #notActiveDay>
                                    <a (click)="setDays(day)">{{day}}</a>
                                </ng-template>
                            </li>        
                        </ul>
                    </div>
                </md-sidenav>

                <div class="row view-x">
                    <ng-container *ngFor="let activity of activities" ><!-- activity item --> 
                        <ng-container *ngIf="checkShow(null,null, activity, 3)">
                            <activity [activity]="activity" [selectedActivities]="custom.selectedActivities" [view]="view" [selectedDay]="selectedDay" (selected)="setActivity($event)"></activity>
                        </ng-container>
                    </ng-container>
                </div><!-- end activity content -->
            </md-sidenav-container>

            <!-- ===========================================
                            CART VIEW
            
                ============================================-->
            <div id="cart" class="row view-x" *ngIf="selected==5">
                <shopping-cart></shopping-cart>
            </div>
        </div><!-- <div class="md-col-10">-->

        <div *ngIf="checkLoad()" class="col-sm-2" id="cartForm" style="overflow: auto; height: 80vh">
            <h1>Cart:</h1>
            
            <p>
                <span class="text-sm text-b">Travel Selected:</span>
                <span class="text-sm"> {{travelValue}}</span>
            </p>
            
            <p>
                <span class="text-sm text-b">Accommodation:</span>
                <a (click)="viewItem(1,custom.accommodation, null,null)"><span class="text-sm">{{custom.accommodation.accommodationName}}</span></a>
            </p>

            <p>
                <ng-container *ngFor="let day of days">
                    <span class="text-sm text-b text-nl text-u">Day {{day}}</span>
                    <!-- Food and drinks  -->
                    <div class="col-6">
                        <span class="text-xsm text-b text-nl">Food and Drinks</span>
                        <ng-container *ngFor="let food of custom.foodAndDrinks">
                            <a (click)="viewItem(2,null, food,null)" style="padding-left:5px"><span *ngIf="food.selectedDay == day" class="text-xsm">{{food.name}}</span></a>
                            <span *ngIf="food.selectedDay == day" class="text-xsm text-nl text-ind">Time: {{food.selectedTime}}</span>
                        </ng-container>
                        <hr style="padding: 0; margin: 0; width: 50%">
                    </div>
                    <!-- Activities  -->
                    <div class="col-6">
                        <span class="text-xsm text-b text-nl">Activities</span>
                        <ng-container *ngFor="let activity of custom.activity">
                            <a (click)="viewItem(3, null, null, activity)" style="padding-left:5px"><span *ngIf="activity.selectedDay == day" class="text-xsm">{{activity.name}}</span></a>
                            <span *ngIf="activity.selectedDay == day" class="text-xsm text-nl text-ind">Time: {{activity.selectedTime}}</span>
                        </ng-container>
                    </div>
                </ng-container>
            </p>

            <button (click)="changeBudget()" md-raised-button><span class="text-b">Cost: </span>${{custom.packageCost}} / ${{budget}}</button>
        </div>
    </div><!-- row -->
</div><!-- end Main View Container -->